
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: auto;
}

.background-h{
    margin: 0;
}
.content-home{
    text-align: center;
    padding: 2.5rem;
    margin: 0;
    font-size: 2.5rem;
    padding: 5rem;
}
.content-home h1, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



ul {
    display:flex;
    justify-content: space-around; /* Căn giữa các mục */
    padding: 0; 
    padding-right: 5rem;
    list-style: none;
    margin-left: 0;
    padding-bottom: 0;
}
li {
    margin: 0 1.2rem; /* Khoảng cách giữa các mục */

}
.navbar ul li a{
    text-decoration: none;
    color: #fff; /* Màu chữ cho các liên kết */
    font-size: 1.2rem; /* Kích thước chữ */
    margin: 0 0.4rem;
}

.navbar ul li a:hover{
    font-size: 1.5rem;
    padding: 0.4rem;
    background-color: burlywood;
    transition: all 0.3s; /* Thêm hiệu ứng chuyển màu */
    border: 1px rgb(245, 170, 72) solid;
    border-radius: 1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 1%;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 0;
}
#header {
    position: relative;
    background: #06021b;
    backdrop-filter: blur(50px);
    background-color: #06021b;
}
.background-h {
    min-height: 100vh;
    background: url('./img/background-h.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}



.logo img{
    /* font-size: 2rem;
    color: #fff;
    font-weight: 700; */
    width: 10rem;
    height: 10rem;
    margin: 0 1rem;
    
}

.navbar ul li a i {
    margin-right: 5px; /* Khoảng cách giữa icon và chữ */
    color: #fff; /* Màu sắc icon */
}


/* -----------CSS Slideshow ---------- */
.slideshow-container {
    position: relative;
    max-width: 600px; /* Chiều rộng tối đa của slideshow */
    margin: auto; /* Căn giữa slideshow */
    overflow: hidden; /* Ẩn phần tràn */
    padding-top: 2.3rem;
}

.slide {
    display: none; /* Ẩn tất cả các slide */
    /* width: 50%;  */
    height: 50%; /* Giảm chiều cao của slideshow */
    
}
.slide-all{
    display: flex; /* Sử dụng Flexbox */
    transition: transform 0.5s ease; /* Hiệu ứng chuyển động */

}

.slide p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slide p i{
    color: coral;
}

.active {
    display: block; /* Hiển thị slide hiện tại */
}

.dots {
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: #717171;
}

footer{
    background-color: #06021b; /* Màu nền */
    text-align: center;
    padding: 10px

}

footer p{
    color:white;
}


/* ----------------About------------------- */
.background-abo {
    background-image: url('./img/background-about.jpg'); /* Đường dẫn đến hình ảnh */
    background-size: cover; /* Để hình ảnh phủ toàn bộ trang */
    background-position: center; /* Căn giữa hình ảnh */
    background-repeat: no-repeat; /* Không lặp hình ảnh */
    margin: 0; /* Bỏ margin mặc định của body */
    color: rgb(231, 161, 10);
    font-size: 20px;

}

#h1-abo{
    font-size: 3rem;
    padding: 5rem 0;
    text-align: center;
    margin: 0;
    /* padding: 20px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-abo {
    display: flex;
    flex-wrap: wrap; /* xuống dòng khi không còn chỗ */
    justify-content: space-around; /* Căn giữa các thành viên */
    padding: 20px;
}

.member {
    text-align: center;
    margin: 15px;
    flex: 0 1 calc(33.33% - 30px); /* Chiếm 1/3 chiều rộng bố cục */
    box-sizing: border-box; /* Đảm bảo padding và margin được tính trong chiều rộng */
}

.member h2, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.member img {
    max-width: 200px ; /*giới hạn chiều rộng tối đa của ảnh*/
    width: 100%; /* Để ảnh chiếm 100% chiều rộng của khối */
    height: auto; /* Giữ tỷ lệ khung hình của ảnh */
    border-radius: 20%; 
}

h2 {
    margin: 10px 0 5px; /* Khoảng cách cho tiêu đề */
}

p {
    margin: 5px 0; /* Khoảng cách cho các đoạn văn */
}

.btn-tt{
    padding: 5px 5px; /* Tăng padding trên và dưới, bên trái và bên phải */
    font-size: 1.5rem; /* Tăng kích thước chữ */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo tròn góc */
    background-color: #9a9a9a; /* Màu nền */
    cursor: pointer; /* Con trỏ chuột khi hover */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền */
}

#github{
   color: white;
}
#github:hover{
    color: #06021b;
    background-color: #9a9a9a;
    padding: 5px 5px;
    transition: all 0.3s;
}
#email{
    color: white;
}
#email:hover{
    color: #06021b;
    background-color: #9a9a9a;
    padding: 5px 5px;
    transition: all 0.3s;
}

#facebook{
    color: white;
}
#facebook:hover{
    color: rgb(76, 76, 244);
    background-color: #9a9a9a;
    padding: 5px 5px;
    transition: all 0.3s;
}
#twitter{
    color: white;
}
#twitter:hover{
    color: rgb(72, 72, 255);
    background-color: #9a9a9a;
    padding: 5px 5px;
    transition: all 0.3s;
}

/* --------------------Group Diary---------------- */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontent h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  table{
    width:100%; /*chiếm toàn bộ chiều rộng */

    border-collapse: collapse; /* Bỏ khoảng cách giữa các ô */
    margin-top: 20px; /*Khoảng cách từ tiêu đề */
    margin-bottom: 20px;

  }

  th, td{
    border: 2px, solid, #000000;
    padding: 8px; /* Khoảng cách bên trong ô */
    text-align: left; /* Căn trái cho nội dung */
  }

  input[type="text"] {
    width: 100%; /* Chiếm toàn bộ chiều rộng ô */
    padding: 8px; /* Khoảng cách bên trong */
    margin: 0; /* Khoảng cách trên/dưới */
    border-radius: 4px; /* Bo tròn góc */
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng chiều rộng tổng thể */
}

/* ---------------CSS Project---------------- */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }

  .tablinks{
    margin: 0 2rem;

  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    padding: 1rem;

    border: 1px rgb(142, 142, 142) solid;
    border-radius: 1rem;
  }
  .tab button:hover{
    background-color: burlywood;
    transition: background-color 0.3s; /* Thêm hiệu ứng chuyển màu */
    border: 1px rgb(245, 170, 72) solid;
    border-radius: 1rem;
    padding: 1.3rem;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .table-requirement{
    padding-bottom: 2rem;
  }

  .table-requirement table{
    width: 70vw;
    margin:auto;
    
  }
  .table-requirement th{
    text-align: center;
  }
