

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFCF5;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
}

.menubar{
    flex: 10;
    display: flex;
    position: relative;

}

.logo{
    background-image: url('./img/Logo_Web-Project.png');
    width: 8rem;
    height: 7rem;
    background-size: cover; /* Đảm bảo ảnh phủ đầy phần tử */
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
}

.navbar li{
    margin: 0.5rem;

}

.navbar li a{
    text-decoration: none;
    color: coral;
    margin: 0.5rem;
    position: relative;

}

.navbar li a::after{
    content: '';
    left: 0;
    bottom: -6px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: coral;
    transform: scale(0);
    transition: .5s;
}

.navbar li a:hover::after{
    transform: scale(1);
}

.navbar button{
    margin-left: 0.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    transition: .5s;
}

.btn-login-register{
    margin-left: 4rem;
    display: flex;
    margin: 1rem;
}

#myBtn-login{
    background-color: antiquewhite;
    margin-right: .5rem;
}

#myBtn-login:hover{
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 1.2rem;
    color: darkblue;
}

#myBtn-register{
    background-color: antiquewhite;
}

#myBtn-register:hover{
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 1.2rem;
    color: darkblue;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
}

.modal-content {
    background-color: white;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Bo góc */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    position: relative;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal-content h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.close-modal{
    position: absolute;
    top: 0;
    right:0;
    text-align: center;
    font-size: 2rem;
    background-color: #000;
    color: coral;
    width: 3rem;
    height: 3rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

#myModal-register{
    display: none;
}
#myModal-login{
    display: none;
}

input{
    margin-bottom: 1rem;
    margin-left: .5rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    background: transparent; /*nền trong suốt*/
}



.input-user label{
    position: absolute;
    left: 6rem;
    user-select: none;
    pointer-events: none; /* Để label không chặn tương tác với input */
    font-weight: 300;
    opacity: 0.5;
    padding: 0 0.8rem;
}

.input-password label{
    position: absolute;
    left: 6rem;
    user-select: none;
    pointer-events: none; /* Để label không chặn tương tác với input */
    font-weight: 300;
    opacity: 0.5;
    padding: 0 0.8rem;
}



.input-user input:focus ~ label,
.input-user input:valid ~ label{
    font-size: 0.8rem ;
    transform: translateY(-1rem);
    font-weight: 1000;
    transition: .5s;
}

.input-password input:focus ~ label,
.input-password input:valid ~ label{
    font-size: 0.8rem ;
    transform: translateY(-1rem);
    font-weight: 1000;
    transition: .5s;
}

.forgot-pass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}


.forgot-pass a{
    font-size:1.3rem;
    text-decoration: none;
}
.forgot-pass a:hover{
    text-decoration: underline;
}

.modal-content button{
    width: 20vw;
}
.modal-content button:hover{
    background-color: coral;
}

.register-new{
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.register-new a{
    text-decoration: none;
}
.register-new a:hover{
    text-decoration: underline;
}

.holine{
    flex: 2;
    position: absolute;
    display: inline;
    justify-content: center;
    align-items: center;
    right: 5rem;
}

.phone{
    font-size: 2rem;
}

.phone a {
    text-decoration: none;
    color: coral;
}

.holine p{
    text-align: center;
    font-size: 1rem;
}

.container{
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.home-khach-san {
    width: 100vw;
    height: 90vh;
    background-image: url('./img/img_Project/bg-ks.jpg');
    background-size: cover; /* Đảm bảo ảnh phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat; /* Ngăn ảnh nền bị lặp lại */
}

.box-sale h2 span{
    font-size: 1.3rem;
    margin-left: 2rem;
}
.box-sale h2 i{
    color: crimson;
}

.box-title h2{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5rem;
}
.box-title{
    padding: 3rem 0;
}

.box-information{
    display: flex;
    justify-content: center;
    
}

.information{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;

}

.information i{
    color: coral;
}

.information .col-1{
    flex: 3;
}
.information .col-2{
    flex: 3;
}
.information .col-3{
    flex: 3;
}
.information .col-4{
    flex: 1;
}

.information .col-1 {

    display: flex;
    justify-content: center;
    align-items: center;
}
.information .col-1 input{
    width: 80%;
    height:3rem;
}

.information .col-2{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information .col-2 .date-room{
    display: none;
    padding: 2rem;
}

.information .col-2 .date-room .ct-date-room{
    display: flex;
    justify-content: center;
}

.ct-date-room .check-in{
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #000;
}

.information .col-2:hover .date-room{
    position: absolute;
    display: inline;
    transform: translateY(5rem);
}




.information .col-3{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information .col-3 .room{
    display: none;
    padding: 2rem;
}

.room .ct-room{
    display: block;
}

.col-3:hover .room{
    display: flex;
    position: absolute;
    transform: translateY(8rem);

}

.information .col-4{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information .col-4 i {
    font-size: 2rem;
    padding: .6rem;
    border-radius: 1rem 1rem;
    color: rgb(255, 255, 255);
    background-color:coral;
    cursor: pointer;
}


.box-sale, .box-sale-300k, .box-hot{
    /* background-color: chocolate; */
    margin: 5rem 10rem;
}

.box-sale img, .box-sale-300k img{
    width: 100%;
}

.box-hot .tab button{
    border: none;
    border-radius: 20px 20px;
    background-color: aqua;
    margin-bottom: 1rem;
}
.box-hot .tab button:hover{
    color: aqua;
    background-color: #000;
}

.box-card{
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth; /* Cuộn mượt mà */
}

.box-card .card{
    border: 2px solid #000000;
    margin: .5rem;
    flex: 0 0 auto; /* Không cho thẻ card co lại */
    width: 17rem; /* Đặt chiều rộng cố định */
    height: 28rem;
}


.box-card .card .img img{
    width: 100%;
    height: 17rem; /* Đảm bảo chiều cao nhất quán */
    object-fit: cover; /* Ảnh sẽ không bị méo */
    border-radius: 0.5rem;
}

.price-old{
    text-decoration: line-through;
}
.price-sale{
    font-size: 1.3rem;
    font-weight: 600;
    color: tomato;
}

.card .content i {
    color: #f5b70e;
}

/* ------------------------ */
.navbar li a .vemaybay:hover .bay-trong-nuoc{

}


/* ------------------------- */
footer{
    background-color: #f9f0d9;
    width: 100vw;
    height: 30vh;
    text-align: center;

}

.footer-c{
    font-size: 1.2rem;
    font-weight: 600;
}

.vemaybay{
    position: relative;
    top: 119px;
    width: 100vw;
    height: 60vh;
    /* background-color: aqua; */
    display: flex;
}

.box-sale-vemaybay{
    position: relative;
    flex: 7;
    margin: 7rem 0 0 25rem;
}

.box-slide-sale-vemaybay{
    flex: 5;
}

.box-search-chuyenbay{
    width: 60vw;
    height: 40vh;
    background-color: aqua;
    margin: 0 auto 2rem;

}

.box-search-chuyenbay .box-search{
    
}