body{
    position: relative;
}

/* ------------sidebar--------------- */
.sidebar-open {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.sidebar-open i{
    font-size: 3rem;
}

.sidebar{
    position: relative;
    display: none;
}

.container-sidebar{
    position: absolute;
    right: 0;
    background-color: #FFFCF5;
    width: 25%;
    height: 100vh;
}

.container-sidebar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-sidebar .logo span{
    margin: 0 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.container-sidebar .logo i{
    font-size: 3rem;
    border-radius: 50%;
    background-color: coral;
    color: black;
    margin-right: 1rem;
    cursor: pointer;
}

.container-sidebar .logo img{
    width: 5rem;
    height: 5rem;
}

.sidebar-menu{
    position: relative;
}

.sidebar-menu ul{
    padding-top: 1rem;
    position: absolute;
    right: 0;
    width: 100%;
}

.sidebar-menu ul li{
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.2rem;
    text-align: center;
    
}



.sidebar-menu ul li a{
    text-decoration: none;

}
.sidebar-menu ul li:hover{
    transition: .5s;
    background-color: coral;
}